---
import astropodConfig from '../../../.astropod/astropod.config.json'
const { title, subtitle, explicit, cover } = Astro.props

import ListenOnMenu from './listenOnMenu.astro'
import FollowUsMenu from './followUsMenu.astro'
import RssIcon from '../icons/rssIcon.astro'
import HeartIcon from '../icons/heartIcon.astro'

const explicitLabel =
  explicit === undefined ? astropodConfig.explicit : explicit
let cover_url = cover ? cover : astropodConfig.cover
---

<div class="card w-full min-w-full bg-base-100 shadow-md md:pb-3">
  <div class="mt-5 aspect-[3/1] w-full">
    <div class="relative inline-block w-full">
      <img
        src={astropodConfig.banner}
        alt={astropodConfig.name + ' banner'}
        class="aspect-[3/1] w-full object-cover"
      />
      <div
        class="absolute left-0 top-0 h-full w-full items-center justify-center bg-gradient-to-t from-gray-900 to-transparent to-50%"
      >
        <div class="absolute bottom-0 left-32 flex flex-col px-3 md:left-52">
          <p class="mb-1 text-xs font-medium text-white">{subtitle}</p>
          <h1 class="mb-3 text-lg font-black text-white md:text-4xl">
            {title}
          </h1>
        </div>
      </div>
      {
        explicitLabel && (
          <span class="absolute right-0 top-0 m-2 inline border px-2 text-[10px] font-medium text-white md:text-xs">
            EXPLICIT
          </span>
        )
      }
    </div>
    <img
      alt={astropodConfig.name + 'cover'}
      class="relative z-10 mx-6 -mt-28 h-24 w-24 rounded-lg border-4 border-base-100 md:mx-11 md:-mt-28 md:h-40 md:w-40"
      src={cover_url}
    />
  </div>

  <div class="flex px-4 uppercase md:-mt-12 md:pl-52">
    <a href="/" class="btn-ghost btn m-1 justify-self-start px-2 sm:px-4">
      Home</a
    >
    <a href="/about" class="btn-ghost btn m-1 justify-self-end px-2 sm:px-4">
      About</a
    >

    <div class="grow"></div>

    <ListenOnMenu />

    <FollowUsMenu />

    {
      astropodConfig.fundingUrl && (
        <a
          href={astropodConfig.fundingUrl}
          class="btn-ghost btn-square btn m-1 w-10 sm:w-12"
          title={astropodConfig.fundingText}
        >
          <HeartIcon />
        </a>
      )
    }

    <a
      href="/rss.xml"
      class="btn-ghost btn-square btn m-1 w-10 sm:w-12"
      title="RSS Feed"
    >
      <RssIcon />
    </a>
  </div>
</div>
